<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/order_review.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Oswald&display=swap" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script>const order = '<%- JSON.stringify(order) %>'</script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/orderReview.js"></script>
  </head>

  <body>
      <%- include('./partials/_header') %>

      <h1 class="review">Review Your Order</h1>
    <main>

      <div class="container">
        <article class="shadow">
          <h2>Restaurant Information</h2>
          <% const res_info = order.restaurant_info %>
          <ul class="ul-order">
            <li> <strong>Pick up</strong>: <%= res_info.street%>, <%= res_info.city%>, <%= res_info.province%> <%= res_info.post_code%> </li>
            <li><strong>Restaurant Hours</strong>: <%= res_info.hours%> </li>
            <li><strong>Estmated time</strong>: <%= order.est_time%> </li>
          </ul>

        </article>
        <article class="shadow">

          <h2>My Items</h2>

          <div class="items">
            <ul>
              <% for(let key of order.food_items) { %>
              <li class="num"> <span class="item"><%= key.name %></span><span class="numberCircle"><%= key.quantity %></span> </li>
              <% } %>
            </ul>
          </div>


        </article>
      </div>
      <div class="container">
        <article class="shadow">
        <h2>Order Summary</h2>
          <section class="summary-content">
            <ul>
              <li class="order-detail"> <strong>Total before tax</strong> : $<%= order.total%></li>
              <li class="order-detail"> <strong>Estimated GST/HST</strong> : $<%= Math.round(order.total*0.12 * 100) / 100 %></li>
              <% const afTax = Number(order.total) + Number(order.total*0.12)%>

            </ul>
            <div class="checkout">
              <p class="total-amount"><strong>Order Total</strong> : $<%= afTax %></p>
                <form class="checkoutForm" method="GET" action="/order_confirmation">
                  <button type="submit" class="btn btn-primary place-order">Place order</button>
                </form>
            </div>

          </section>
        </article>
      </div>

      </main>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>
</html>
